### Things being looked at below:

1. Jupyter Notebook navigating/using
1. Python as a calculator
1. Variables
1. Types
1. Arithmetic operators
1. Boolean logic
1. Strings
1. Printing
1. Exercises

In [ ]:
#begin

In [ ]:
#Cell highlight
# A --> new cell above
# B --> new cell below
# ESC --> goes from edit mode (cursor) to cell-highlight
# ENTER --> goes to edit mode
# DD --> deletes a cell

In [2]:
bill = "bill"
print( bill )
#...
bill = "tim"
print( bill )
#better to use say, 'person_name' for the 'variability' of the value over time

bill
tim

In [5]:
403 * 231

93093

In [1]:
def miles_per_km():    #a function to create a 'constant'
    return 1.60934

In [6]:
# Great calculator but how can we make it store values?
# We do this by defining variables, e.g.:
miles_to_london = 403
miles_per_km = 1.60934                              #use variable (not constant)
km_to_london = miles_to_london * miles_per_km
km_to_london

648.56402

In [7]:
# We can now reuse the variable miles_per_km in a new block without having to define it again
miles_in_marathon = 26.219
km_in_marathon = miles_in_marathon * miles_per_km #use variable from above cell (~constant)
km_in_marathon

42.19528546

In [4]:
#redefine miles_per_km as a fn in this cell now
def miles_per_km():    #a function to create a 'constant'
    return 1.60934
# We can now use the (~constant) fn instead of the variable
miles_in_marathon = 26.219
km_in_marathon = miles_in_marathon * miles_per_km() #use fn from above (~constant)
km_in_marathon

42.19528546

## Important notes

- Variables can have any name you want, as long as it contains only letters, underscores and digits, but cannot start with a digit
-  Variables are case sensitive, so `miles` is different from `MILES`
-  While we use the equals sign (=), assignment to a variable is not the same as equality (which we will see later), and should be read as assigning the value on the right-hand-side to the variable named on the left-hand-side
- Once defined, a variable will maintain its value throughout the current piece of code, and can be used in any place where a regular value can be used.
- Code should be read top to bottom (unless there is any special structure). A variable cannot be used before it is assigned a new value; it can be reassigned a new value, which will be used for all subsequent code

In [9]:
# What is a legal name for a variable?

#4us = "for us"             #Can't start with a number
_4us = "for us"
print( _4us )

forUs = "for us"            #NOT Python convention: 'camel-case' more Java/JavaScript/C# way
print(forUs)

for_us = "for us"           #Pythonesque using underscores in the name
print( for_us )

for us
for us
for us

# Types
Values (and variables) in Python all have types, which define the way they are stored and the ways they can be used.
There are 5 basic types in Python:

| Type     | Declaration | Example             | Purpose                                 |
|----------|-------------|---------------------|-----------------------------------------|
| Integer  | int         | x = 124             | Whole numbers                           |
| Float    | float       | x = 124.56          | Numbers with a decimal point            |
| String   | str         | x = "Hello World"   | For any text                            |
| Boolean  | bool        | x = True, x = False | For logical conditions                  |
| NoneType | None        | x = None            | To mark something as not having a value |

# Important lesson to remember!
We can't do arithmetic operations on variables of different types. Therefore make sure that you are always aware of your variables types!

In [10]:
to_be_used_later = None             ##'None' value signifies an 'absence' of a value

# ... 
to_be_used_later = "now"
print( to_be_used_later )

now

In [11]:
x = 10
y = "10"
result = x + int(y)     #not so nice HERE!
print( result )

20

In [ ]:
#'nicer' way...
x = 10
y = "10"
y = int(y)              #added: "y is the int of y"

result = x + y          #easier to read HERE!
print(result)

In [ ]:
#nicer again
age     = 10
aged_by = "10"
aged_by = int(aged_by)

future_age = age + aged_by

print( future_age )

In [12]:
#readability matters!
# self-documenting code PEP-20 Zen of Python
# import this #CTRL-'?'
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Casting types

In [1]:
#Recap...
x = 10
y = "10"
result = x + int(y)

# quiz: What is x?
print(result)

20

In [2]:
x = 10
y = "10"
# quiz - what would be the result if we cast into a string instead?
result = str(x) + y

print( result )

1010

# Arithmetic operations
Python supports all the regular arithmetic operations from school:

| Symbol |    Task Performed   | Example | Result |
|:------:|:-------------------:|:-------:|:------:|
|    +   |       Addition      |  4 + 3  |    7   |
|    -   |     Subtraction     |  4 - 3  |    1   |
|    /   |   (True) Division   |  7 / 2  |   3.5  |
|   //   |    Floor Division   |  7 // 2 |    3   |
|    %   |   Mod (Remainder)   |  7 % 2  |    1   |
|    *   |    Multiplication   |  4 * 3  |   12   |
|   **   | Power of (exponent) |  7 ** 2 |   49   |

# Be mindful of the order of operations (again, same as in school):

| Operation, from highest precedence to lowest | In Python |
|----------------------------------------------|-----------|
|                   **B**rackets                   |    ( )    |
|                   **E**xponents                  |     **    |
|                **M**ultiplication                |     *     |
|                   **D**ivision                   |  /, //, % |
|                   **A**ddition                   |     +     |
|                  **S**ubtraction                 |     -     |

In [4]:
result = (16 ** 2) / 4
print( result )

64.0

In [9]:
# Quick quiz, which one is bigger?
calc1 = 4 + 3 ** 2
# or
calc2 =  (4 + 3) ** 2
# print("cast your vote now")         #why no calculation result printing?
print( calc1, calc2 )

13 49

# Comparison operators
These operators can be used on numbers and many other types to return Boolean values (i.e. True or False)
They are used extensively for conditional statements, which we'll see in week 3.

| Operation        | In Python | Purpose                       |
|------------------|-----------|-------------------------------|
|       Equal      | x == y    |  x and y have the same value  |
|     Not equal    | x != y    | x and y have different values |
|     Less than    | x < y     |      x is smaller than y      |
|   Greater than   | x > y     |       x is larger than y      |
|   Less or equal  | x <= y    |   x is smaller or equal to y  |
| Greater or equal | x >= y    |   x is larger or equal to y   |

In [10]:
# comparison example:
x = 5   #"is assigned" or "is assigned the value"
x == 5  # note the difference between = and ==

True

In [11]:
x > 7

False

# Logical operators
These operators allow us to combine conditional logic operations, and will become essential later on, particularly in week 3

| Logical Operation |           Result           |
|:-----------------:|:--------------------------:|
|       not x       |   True only if x is False  |
|      x and y      | True only if both are True |
|       x or y      | True unless both are False |

|   a   | not a |
|:-----:|:-----:|
| False |  True |
|  True | False |

|   a   |   b   | a and b |
|:-----:|:-----:|---------|
| False | False | False   |
| False |  True | False   |
| True  | False | False   |
| True  | True  | True    |

|   a   |   b   | a or b |
|:-----:|:-----:|--------|
| False | False | False  |
| False |  True | True   |
| True  | False | True   |
| True  | True  | True   |

In [14]:
x = 20  #should say true

# check whether x is between 10 and 20 (Exclusive!)
x >= 10 and x < 20       #"off-by-one errors"

#....0....10.....15....20 # the numberline - save hours of your life

False

In [15]:
x = 10
# note that for this particular usage, Python actually allows us to combine the two
10 < x < 20    #x > 10 and x < 20

False

In [16]:
num = 42
not ((num % 2 == 0) and (num % 3 == 0))

# What did we check for?
# That wasn't very easy to read was it?
# Is there a way we can make it more readable?

False

In [ ]:
# WAS: below but not very readable
# num = 42
# not ((num % 2 == 0) and (num % 3 == 0))
# Refactored Above to:
num = 42
divisible_by_2 = num % 2 == 0
divisible_by_3 = num % 3 == 0
divisible_by_both = divisible_by_2 and divisible_by_3
not divisible_by_both

#write code where you are...
#sympathetic to the reader

# Strings
- Used to represent text in a flexible way
- Can be added (concatenated)
- Can be multiplied (repeated)
- Can contain multiple lines

In [21]:
text1 = "hello"
text2 = "good bye"
print( type(text1) )

# dir(str)

<class 'str'>

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [23]:
text1 = "bananna"
print( text1, ":", text1.endswith("anna") )

bananna : True

In [28]:
text = "banxnna"
characters = len(text)          #len() in-built fn that gets lenght of a String
print(characters)
#       [b][a][n]...[a]
#       [0][1][2]...[6]
#       [-7][-6][-5]...[-1]

print( text[-4] )               #indexing: zero-based positive numbers
                                #       or: -1-based  negative numbers

7
x

In [33]:
num = 4
if num == 4 :
    print("inside the if")              # **NOTE** the indent
    print("also inside the if")
else:
    print("inside the else")
    print("also inside the else")

print("after the if statement")

inside the if
also inside the if
after the if statement

In [36]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
help( str.join )

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [34]:
my_string = "10"
converted = int(my_string)

#example
hello = "p8p8"
if hello[3].isdigit():
    print("it's a digit")
else:
    print("not a digit")

it's a digit

In [38]:
# We use either single or double quotes (doesn't matter)
# Either type of quote can contain the other type
first_part = "Python's"
second_part = 'Awesome'
first_part + " " + second_part

"Python's Awesome"

In [43]:
#variable name 'hello' VS value 'hello'
hello = "hillo"

print(hello)

hello

In [44]:
first_part = "Strings can be "
second_part = "repeated "
first_part + 3 * second_part

'Strings can be repeated repeated repeated '

In [46]:
"*"*50

'**************************************************'

# Multiline strings
To use multiple lines in a string, we either: 

- Use the special `\n` character (newline character)
- Or use triple-quoted strings

In [ ]:
multiline_string = "Hello\nthere"
print(multiline_string)

In [48]:
multiline_string = '''Hello
there
yourself'''
print(multiline_string)

Hello
there
yourself

# Printing
When you run a cell in jupyter notebooks, the last value in the cell is always displayed (but only the last).

In [49]:
print("Python")
print("Is versatile")
print( "and fun" )
x = 'last word freak'
x

Python
Is versatile
and fun

'last word freak'

# Combining strings with other values
Often we find the need to put numbers and other values inside strings.
One way to do so, is to cast the values directly into strings when we need to:

In [51]:
greeting_start = "Happy "
greeting_end = "th birthday "
name = "Patrick"
age = 48
print(greeting_start + str(age) + greeting_end + name) #concatenate

Happy 48th birthday Patrick

In [53]:
# Quick quiz, what's wrong with this expression?
part1 = "Which means it has more than "
part2 = 76
part3 = " quirks"
print(part1 + str(part2) + part3)

Which means it has more than 76 quirks

In [54]:
# To address this type mismatch, we need to either cast part2 to a str
# Or pass the variables separately to the print function, separated by commas:
part1 = "Which means it has more than"
part2 = 76
part3 = "quirks"
print(part1, part2, part3)

Which means it has more than 76 quirks

In [55]:
# Or use the special f-strings to create our combined string
# In f-strings, we prefix the string with the letter `f`, and then use curly-braces to put variable placeholders in our text:
num = 76
#f"Which means it has more than {num} quirks"

print( f"Which means it has more than {num} quirks" )

Which means it has more than 76 quirks

In [60]:
# f-strings also have many additional formatting powers
# To use these, we put a colon after the placeholder value, and then tell Python how to do the formatting
# For example, to round with one digit after the decimal point, use this:
miles_in_marathon = 26.219
miles_per_km = .6
km_in_marathon = miles_in_marathon * miles_per_km
f"To complete a marathon, you need to run {km_in_marathon:.3f} kilometers"

'To complete a marathon, you need to run 15.731 kilometers'

# Comments

In [ ]:
"""
This is used as a comment at the top 
of functions/methods classes....
"""
                            # fruits = 12

fruits = 12                 #num fruits offered in store

In [ ]:
# alternatively, sometimes a comment can be replaced with a more explicit variable name
types_of_fruit_in_the_store = 12
# use your judgment to decide what's most appropriate for your code's readers

# Questions?